{% extends "base.html.twig" %}
{% block title %}
    Bienvenu sur votre profil : {{ app.user.username }}
{% endblock %}
{% block body %}
<div class="row">
    <div class="col-md-4 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Table Candidat</h4>
                    {{ form_start(formUpdate) }}
                    {{ form_widget(formUpdate) }}
                    <input type="submit" class="btn btn-warning" placeholder="Valider">
                    {{ form_end(formUpdate)}}
            </div>
        </div>
    </div> 
   
   
      
</div>                 
{% endblock %}
